{% extends "base.html"%}

{% block cuerpo %}
<div class="row">
<div class="col-md-4 offset-md-4">
   <!--La tarjeta card-->
   <div class="card"><!--Tarjeta-->
      <div class="card-body">
        <form action="/editarProveedor/" method="POST"> {% csrf_token %}<!--formulario-->
          <div class="form-group">
            <input type="text" id="txtid_proveedor" name="txtid_proveedor" class="form-control" value={{misproveedores.id_proveedor}} minLenght="6" maxLenght="6" readonly required>
          </div>
          <div class="form-group">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control"  value="{{misproveedores.nombre}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="numtelefono" name="numtelefono" class="form-control"  value="{{misproveedores.telefono}}" maxLenght="20" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtproducto" name="txtproducto" class="form-control"  value="{{misproveedores.producto}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtmetodo_pago" name="txtmetodo_pago" class="form-control"  value="{{misproveedores.metodo_pago}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtemail" name="txtemail" class="form-control"  value="{{misproveedores.email}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"  value="{{misproveedores.direccion}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="date" id="txtfecha" name="txtfecha" class="form-control"  value="{{misproveedores.fecha_ultimo_envio}}" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtid" name="txtid" class="form-control"  value="{{misproveedores.id_sucursal}}" maxLenght="100" required>
          </div>
          <div class="form-group py-2">
          <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>

</div><!--columna-->

</div>
{% endblock %}